@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --background-color: #EDEDED;
    --gradient-end: #792ef5;
    --gradient-start: #792ff5;
    --container-color: #ffffff;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    margin: 2em;
    background-color: var(--background-color);
    grid-template-columns: 1fr 4fr 6fr;
    column-gap: 2em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main-bar, .contacts-panel > *, .messaging-area {
    box-shadow: 0 0em .5em rgb(128, 128, 128);
}

.main-bar {
    background: linear-gradient(0deg, var(--gradient-start), var(--gradient-end));
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    justify-content: space-between;
}

.contacts-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

img {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}

.contacts-panel > div, .messaging-area {
    background-color: var(--container-color);
    border-radius: 1em;
    padding: 1.5em;
}

.friend-group, .friend {
    display: flex;
    padding: 0.5em 1em;
}

.friend-group:not(:last-child), .friend:not(:last-child) {
    border-bottom: 2px #e7e7e7 solid;
}

.contact-text {
    padding-left: 1em;
    width: 100%;
}

.groups-title, .friends-title {
    font-weight: bold;
}

.user-avatar {
    position: relative;
}

.red-dot {
    position: absolute;
    width: .5em;
    height: .5em;
    background: red;
    border: 3px var(--gradient-start) solid;
    border-radius: 50%;
    top: 2.15em;
    left: 2.15em;
}

.main-bar__main-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-bar__main-buttons > * {
    padding: 0.5em 0;
}

i::before {
    font-size: 200%;
    color: white;
}

.text-time {
    float: right;
    color: gray;
}

.title {
    font-weight: bold;
}

.user-info {
    display: flex;
    justify-items: space-between;
    padding-bottom: 0.75em;
    border-bottom: 2px #e7e7e7 solid;
}

.user-info__text {
    display: flex;
    flex-direction: column;
}

.user-info__text > img {
    padding: 1em;
}